<div class="container">
  <div class="jumbotron">
    <h1>Remind Me 101</h1>

    <% if user_signed_in? %>
        <p><a class="btn btn-primary btn-lg" <%= link_to('Logout', destroy_user_session_path(@current_user), :method => :delete) %></a>
        <p><a class="btn btn-primary btn-lg" <%= link_to 'Take me to my Dashboard', users_path %></a></p>
      <% else %>
        <p><a class="btn btn-primary btn-lg" <%= link_to 'Sign Up Now', new_user_registration_path %></a>
        <p><a class="btn btn-primary btn-lg" <%= link_to 'Sign In Now', new_user_session_path %></a></p>

      <% end %>

  </div>
</div>
