<div class="container">
  <div class="jumbotron">
    <h1>Remind Me 101</h1>

    <% if user_signed_in? %>
        <p><a class="btn btn-primary btn-lg"><%= link_to('Logout', destroy_user_session_path(@current_user), :method => :delete) %></a>
        <%= link_to('Take me to my Dashboard', user_index_path) %>
      <% else %>
        <%= link_to 'Sign Up Now', new_user_registration_path %>
        <%= link_to 'Sign In Now', new_user_session_path %>
      <% end %>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>
